{% load i18n static %}


  <footer id="footer" class="footer position-relative dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{% url 'pages:index' %}" class="logo d-flex align-items-center">
            <img src="{% static "assets/img/nullframe.png" %}" alt="Logo null Frame Lab - digital development">
          </a>
          <p>{% trans "We build, market and optimize digital products using data." %}</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>{% trans "Useful Links" %}</h4>
          <ul>
            <li><a href="{% url 'pages:index' %}">{% trans "Home" %}</a></li>
            <li><a href="{% url 'pages:terms' %}">{% trans "Terms of service" %}</a></li>
            <li><a href="{% url 'pages:privacy' %}">{% trans "Privacy policy" %}</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>{% trans "Our Services" %}</h4>
          <ul>
            <li><a href="{% url "pages:development" %}">{% trans "Digital Product Development" %}</a></li>
            <li><a href="{% url "pages:ux" %}">{% trans "UX Design" %}</a></li>
            <li><a href="{% url "pages:marketing" %}">{% trans "Growth &amp; Digital Marketing" %}</a></li>
            <li><a href="{% url "pages:data" %}">{% trans "Data &amp; Analytics" %}</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>{% trans "Contact Us" %}</h4>
          <p>{% trans "Ukraine" %}</p>
          <p class="mt-4"><strong>{% trans "Phone" %}:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>contact@nullframe-lab.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>{% trans "Copyright" %}</span> <strong class="px-1 sitename">NullFrame Lab</strong> <span>{% trans "All Rights Reserved" %}</span></p>
    </div>

  </footer>