{% load i18n static %}
{% get_current_language as CURRENT_LANG %}

<li class="dropdown d-block d-sm-none">
  <a href="#">
    <span>{% trans "Languages" %}</span>
    <i class="bi bi-chevron-down toggle-dropdown"></i>
  </a>

  <ul>
    <li>
      <a href="/en{{ request.path|cut:'/en'|cut:'/uk' }}"
         class="{% if CURRENT_LANG == 'en' %}active{% endif %}">
        English
      </a>
    </li>
    <li>
      <a href="/uk{{ request.path|cut:'/en'|cut:'/uk' }}"
         class="{% if CURRENT_LANG == 'uk' %}active{% endif %}">
        Українська
      </a>
    </li>
  </ul>
</li>