{% load static %}
{% load i18n %}

    <section id="clients" class="clients section">

      <div>

        <div class="clients-slider swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 6000,
              "autoplay": {
                "delay": 1,
                "disableOnInteraction": false
              },
              "centeredSlides": true,
              "slideToClickedSlide": true,
              "slidesPerView": "auto",
              "spaceBetween": 40,
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 20
                },
                "640": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "992": {
                  "slidesPerView": 4,
                  "spaceBetween": 30
                },
                "1200": {
                  "slidesPerView": 6,
                  "spaceBetween": 40
                }
              }
            }
          </script>

          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/numpy.png" %}" class="img-fluid" alt="numpy">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/pandas.png" %}" class="img-fluid" alt="pandas">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/python.png" %}" class="img-fluid" alt="python">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/django.png" %}" class="img-fluid" alt="django">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/js.jpeg" %}" class="img-fluid" alt="java script">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/node.png" %}" class="img-fluid" alt="node js">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/nest.png" %}" class="img-fluid" alt="nest">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/next.svg" %}" class="img-fluid" alt="next">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/learn.png" %}" class="img-fluid" alt="learn">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/aws.png" %}" class="img-fluid" alt="aws">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/python.png" %}" class="img-fluid" alt="python">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/django.png" %}" class="img-fluid" alt="django">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/js.jpeg" %}" class="img-fluid" alt="java script">
              </div>
            </div><!-- End Client Item -->

            <div class="swiper-slide">
              <div class="client-logo">
                <img src="{% static "assets/img/clients/node.png" %}" class="img-fluid" alt="node js">
              </div>
            </div><!-- End Client Item -->

          </div>

        </div>

      </div>

    </section>