{% load static %}
{% load i18n %}

<section id="testimonials" class="testimonials section light-background">

  <div class="container">

    <!-- Section Title -->
    <div class="section-title">
      <h2>{% trans "Client Feedback" %}</h2>
      <p>{% trans "Real collaboration, real experience" %}</p>
    </div>

    <div class="testimonial-single">

      <div class="testimonial-card m-3">

        <div class="testimonial-quote">
          <i class="bi bi-quote"></i>
        </div>

        <p class="testimonial-text">
          {% trans "We are working with NullFrame Lab on a custom web application. The team quickly understood our marketing and business goals, proposed a well-thought-out architecture, and works in a highly structured way. Communication is transparent, and decisions are made with a strong focus on the long-term growth of the product." %}
        </p>

        <div class="testimonial-author">
          <img src="{% static 'assets/img/person/oksana.png' %}" alt="Oksana Yatsuk" class="testimonial-avatar">

          <div class="author-info">
            <h4>{% trans "Oksana" %}</h4>
            <span>{% trans "Head of Marketing, StrikeShop" %}</span>
            <small class="project-status">{% trans "Ongoing project" %}</small>
          </div>
        </div>

      </div>

      <div class="testimonial-card m-3">

        <div class="testimonial-quote">
          <i class="bi bi-quote"></i>
        </div>

        <p class="testimonial-text">
          {% trans "We are very satisfied with the development of the Wood Life website. All our requests were carefully considered, and the brand atmosphere was perfectly reflected. The website is modern, user-friendly, and fully responsive. Communication was smooth and professional. We highly recommend as a reliable partner." %}
        </p>

        <div class="testimonial-author">
          <img src="{% static 'assets/img/person/dima-woodlife.jpg' %}" alt="Dima Wood Life" class="testimonial-avatar">

          <div class="author-info">
            <h4>{% trans "Dmitriy" %}</h4>
            <span>{% trans "Owner of WoodLife Ukraine" %}</span>
            <small class="project-status">{% trans "Finished project" %}</small>
          </div>
        </div>

      </div>

    </div>

  </div>
  

</section>
