{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<!-- Hero Section -->
{% include "pages/includes/hero.html" %}

<!-- About Section -->
{% include "pages/includes/about.html" %}

<!-- Clients Section -->
{% include "pages/includes/clients.html" %}

<!-- How We Work Section -->
{% include "pages/includes/workprocess.html" %}

<!-- Services Section -->
{% include "pages/includes/services.html" %}

<!-- Faq Section -->
{% include "pages/includes/faq.html" %} 

<!-- Testimonials Section -->
{% include "pages/includes/testimonials.html" %}

<!-- Portfolio Section -->
{% include "pages/includes/portfolio.html" %}

<!-- Team Section -->
{% include "pages/includes/team.html" %}

<!-- Contact Section -->
{% include "pages/includes/contact.html" %} 

{% endblock content %}